<a title="{{ site.harmony.social.github }} on Github" 
			href="https://t.me/crimea_is_ukraine_sev" target="_blank">
			Меч Севастополя
		</a><span>/</span>
	</li>
	{% endif %}
</ul>

<a title="{{ site.harmony.social.github }} on Github" 
			href="https://t.me/crimea_is_ukraine_sev" target="_blank">
			Меч Севастополя
		</a><span>/</span>
	</li>
	{% endif %}
</ul>

<a title="{{ site.harmony.social.github }} on Github" 
			href="https://t.me/crimea_is_ukraine_sev" target="_blank">
			Меч Севастополя
		</a><span>/</span>
	</li>
	{% endif %}
</ul>
